.db_rm{
  @include border-box();
  *{
    @include border-box();
    float: left;
    }
  padding:10px;
  transition: 0.5s;
                    // standerd widget class
  .rm_widget{
    width: 33.3333%;
    padding: 5px;
    height: 200px;
    .rm_widget_cont{
      @include border-radius(3px);
      padding:30px;
      width: 100%;
      height: 100%;
      background: $widget_cb  ;
    }
  }



                                      // Current Balance
                                      //refresh
  .rmcb_refresh{
    width:14px;
    height: 14px;
    @include border-radius(100px);
    color:rgba(255,255,255,0.5);
    border:3px solid rgba(252,255,250,0.9);
    margin:10px;
    position: absolute;
    top:0px;
    left: 0px;
    z-index: 100px;

  }
  .rmcb_refresh.animate{
    animation: pulsate 0.7s ease-out;
    animation-iteration-count: infinite;
  }
  .rmcb_refresh:hover{
    cursor: pointer;
  }
  @keyframes pulsate {
    0% {
      transform: scale(.1);
      opacity: 0.0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: scale(1.2);
      opacity: 0;
    }
  }
                              //current balance
  .rmw_currentBal{

    position: relative;

    .rm_widget_cont{
      padding:10px;


      .rmcb_head{
        width: 100%;
        color:rgba(255,255,255,0.7);
        margin-bottom: 10px;
        margin-left: 10%;
        margin-top: 27%;
      }
      .rncb_amount{
        width: 100%;
        font-size: 320%;
        color:rgba(255,255,255,1);
        margin-left: 10%;
      }
    }

  }

                                  // insert elements

  .rmw_logs{
    width: 33.3333%;
    padding: 5px;
    height: 200px;
    position: relative;



    .rmw_log_cont{
       @include border-radius(3px);
       padding:10px;
       width: 100%;
       height: 100%;
       background: $widget_log  ;


        .rmwl_head{
          width: 100px;
          height: 40px;
          margin-top: 50px;
          margin-left: 10px;
        }
        .rmwl_head_text{
          color:rgba(255,255,255,0.7);
        }

        .rmwl_desc{
          width: 100px;
          height: 40px;
          margin-left: 30px;
          margin-top: 50px;
        }
       .rmwl_amt_ins{                //textbox
         width: 100px;
         background-color: transparent;
         font-family: Roboto;
         font-size: 20px;
         font-weight: 100;
         color: #eeeeee;
         outline: none;
         outline-style: none;
         border-top: none;
         border-left: none;
         border-right: none;
         border-bottom: solid #eeeeee 1px;
         margin-top: 10px;
       }
      .rmwl_amt_ins2{
          width: 120px;
      }

       input[type=number]::-webkit-inner-spin-button,  //disable count nav
       input[type=number]::-webkit-outer-spin-button {
         -webkit-appearance: none;
         margin: 0;
       }
     }


  }
                                          // graph elements

  .rmw_graph{
    //width: 20.3333%;
    padding: 5px;
    height: 200px;
    position: relative;


    .rmw_graph_cont{
      @include border-radius(3px);
      padding:10px;
      width: 100%;
      height: 100%;
      background: $widget_graph  ;

      .rmwg_head{
        color:rgba(255,255,255,0.7);
        margin: 6% 0px 0px 1%;
      }
    }

  }
                              //room manager reports
  .rmw_report{
    padding: 5px;
    height: 400px;
    position: relative;

    .rmcb_refresh{
      border:3px solid rgba(23, 220, 255, 0.9);
    }
    .rmcb_refresh .animate{
      animation: pulsate 0.7s ease-out;
      animation-iteration-count: 3;
    }

    .rmw_report_cont{
      @include border-radius(3px);
      padding:10px;
      width: 100%;
      height: 100%;
      background: $widget_report  ;

      .rmwr_cont_head{
        color:rgba(0,0,0,0.7);
        margin: 20px;
      }
    }
  }

  // widget width setting
  .rm_widget.-w-1{ width: 16.6666%;}
  .rm_widget.-w-2{ width: 33.3333%;}
  .rm_widget.-w-3{ width: 50%;}
  .rm_widget.-w-4{ width: 66.6666%;}
  .rm_widget.-w-5{ width: 83.3333%;}
  .rm_widget.-w-6{ width: 100%;}
  .rm_widget.-w-7{ width: 28%;}


} // end of db_rm(main div)






