<div class="dashboardHeader">
  <div class="dh_btn ">
    <i class="fa fa-gear"></i>
    <div class="dhb_count">763</div>
  </div>
</div>
<div class="db_sidenav"></div>
<div class="basePage db_page db_pageHalf">
  <div class="db_sidenav">
    <div class="dbn_item" ng-click="dash.gotoState(button.route)"
         ng-repeat="button in dash.buttons"
         ng-class="{'active':dash.state.current.name == button.route}">
      <div class="dbni_name">{{button.name}}</div>
      <div class="dbni_img"><i class="fa {{button.icon}}"></i></div>
    </div>
  </div>
  <div class="dbv_bg"><img src="images/admin/dashboard/pm/bg.jpg"></div>
  <div class="db_view"  ui-view=""></div>
</div>
